{%extends "page.html" %}
    {% block more_style %}
    <link href="/static/css/page.css" rel="stylesheet">
    <link href="/static/css/pages.css" rel="stylesheet">
    {{ head | safe }}
    {% endblock %}

    {% block content %}
    <div id="content" class="span11">
      <h2>blogs</h2>
      <div id="main">
        <table>
        {% for page in pages %}
          <tr>
            <td>{{page.created_at}}</td>
            <td>{% if page.status != "public" %}[private] {% endif %}<a href="/{{ page.slug }}">{{page.title}}</td>
          </tr>
        {% endfor %}
        </table>
      </div>

      <div id="footer" class="right-align">
        Template by <a href="http://daigotanaka.org">Daigo Tanaka</a><!-- Feel free to remove this line) -->
      </div>
    </div>
    {% endblock %}
